{% extends 'form/base.html' %}

{% block content %}
<form action="" method="POST">
    <h2>カテゴリの追加</h2>
    {{ form.non_field_errors }}
    <table class="table table-bordered">
        {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{field }} {{field.errors }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>記事追加</h2>
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form.id }}
    {{ fomr.non_field_errors }}
    <table class="table table-borderd">
        {% for field in form.visible_fields %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }} {{ non_field_errors }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    <button type="submit" class="btn btn-primary"> 送信</button>
    {% csrf_token %}
</form>
{% endblock %}